<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Login</title>
</head>

<body>
  <div class="login-box">
    <p>Login</p>
    <form method="POST" action="/">
      <div class="user-box">
        <input required="" name="username" type="text">
        <label>Username</label>
      </div>
      <div class="user-box">
      </div>
      <div class="user-box">
        <input name="nasc" type="date">
        <label>Data de Nascimento</label>
      </div>
      <div class="user-box">
      </div>
      <button type="submit"> Submit </button>
    </form>
  </div>
</body>

</html>